<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GOOGLE_MAPS_API_KEY</key>
	<string>$(GOOGLE_MAPS_API_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaomap</string>
		<string>kakaonavi-sdk</string>
		<string>nmap</string>
		<string>tmap</string>
	</array>
	<key>NAVER_MAPS_CLIENT_ID</key>
	<string>$(NAVER_MAPS_CLIENT_ID)</string>
	<key>NAVER_MAPS_CLIENT_SECRET</key>
	<string>$(NAVER_MAPS_CLIENT_SECRET)</string>
	<key>NMFNcpKeyId</key>
	<string>$(NAVER_MAPS_CLIENT_ID)</string>
	<key>TOUR_API_SERVICE_KEY_ENTRY</key>
	<string>$(TOUR_API_SERVICE_KEY_ENTRY)</string>
	<key>TOUR_API_SERVICE_KEY_WINNERS</key>
	<string>$(TOUR_API_SERVICE_KEY_WINNERS)</string>
</dict>
</plist>
