// Copy this file as Secrets.xcconfig and enter the key shared by the team.
TOUR_API_SERVICE_KEY_WINNERS = kkLwErnseCRwg8ULpnIog9mUFCAJLxI4T5j37ogM4sIPFIlbBmG%2FhzgCBvfd7rFFBm47zOMPVJOXGUqiojPSYA%3D%3D
TOUR_API_SERVICE_KEY_ENTRY = KF%2Fehf%2F8gjUTbWmwsyoKXtfebZiuSQ2i%2FQRkFtFo4U780gHf6f84%2FhtqySK7TWlv4Qi5XzMFEMQWy3Rjo%2Bruxw%3D%3D
GOOGLE_MAPS_API_KEY = AIzaSyCRubW2cBFyClpM6pSi7UIuYpX7h5WQtmw
NAVER_MAPS_CLIENT_ID = rebriv4hg9
NAVER_MAPS_CLIENT_SECRET = Ar3XQfypT4fNFpKSBba1ZyU3AmUHl5e8Gp70H2uY
KAKAO_REST_API_KEY = 8b15391f69e840eb7534e377c5068021
